@model br.com.totaltiss.Model.Atz_Mun

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Atz_Mun</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mun_Cod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mun_Cod)
            @Html.ValidationMessageFor(model => model.Mun_Cod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mun_Nme)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mun_Nme)
            @Html.ValidationMessageFor(model => model.Mun_Nme)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mun_Est)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mun_Est)
            @Html.ValidationMessageFor(model => model.Mun_Est)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
