@model br.com.totaltiss.Model.Atz_Mun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Atz_Mun</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mun_Cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mun_Cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mun_Nme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mun_Nme)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mun_Est)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mun_Est)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdMun }) |
    @Html.ActionLink("Back to List", "Index")
</p>
