@model IEnumerable<br.com.totaltiss.Domain.Entities.Atz_Brr>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brr_IdMun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brr_Nme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brr_IdMun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brr_Nme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBrr }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBrr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBrr })
        </td>
    </tr>
}

</table>
