@model IEnumerable<br.com.totaltiss.Model.Atz_Mun>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mun_Cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mun_Nme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mun_Est)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mun_Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mun_Nme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mun_Est)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMun }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMun }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMun })
        </td>
    </tr>
}

</table>
