@model br.com.totaltiss.Model.Atz_Esp

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Atz_Esp</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_Dsc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_Dsc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_Cbo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_Cbo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_SisGst)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_SisGst)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_AltCpx)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_AltCpx)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_Sxo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_Sxo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_IddMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_IddMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_IddMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_IddMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_QtdMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_QtdMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_QtdDia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_QtdDia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_QtdMes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_QtdMes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_QtdAno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_QtdAno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Esp_Rtn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Esp_Rtn)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
