@model br.com.totaltiss.Model.Atz_Brr

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Atz_Brr</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Atz_Mun.Mun_Cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Atz_Mun.Mun_Cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brr_Nme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brr_Nme)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
