@model br.com.totaltiss.Model.Atz_Brr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Atz_Brr</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Atz_Mun.Mun_Cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Atz_Mun.Mun_Cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brr_Nme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brr_Nme)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdBrr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
